matplotlib==3.2.2
mlconjug==3.4.0
numpy==1.19.1
pandas==1.0.4
Pattern==3.6
PyDictionary==2.0.1
rake-nltk==1.0.4
rouge==1.0.0
scikit-learn==0.23.1
scipy==1.4.1
seaborn==0.10.1
shortuuid==1.0.1
simpletransformers==0.47.2
spacy==2.3.2
syllables==0.1.0
tensorflow==2.2.0
tensorflow-estimator==2.2.0
tensorflow-gpu==2.2.0
tensorflow-gpu-estimator==2.2.0
textblob==0.15.3
textstat==0.6.2
torch==1.5.1
transformers==3.0.2
vaderSentiment==3.3.2
wordnet==0.0.1b2